body {
  background-color: #9999ff
}

#menuBox {
  border-style: dotted;
  border: 1px solid #000000;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-right: 1px;
  margin-left: 1px;
  border-width: medium;
}

.headerBox {
  color: purple;
  margin: 20px border: 4px dashed #800000;
  background-color: #00ccff;
  border: solid black;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-right: 1px;
  margin-left: 1px;
  border: solid black;
  text-align: center;
  height: 75px;
  font-size: 65px;
}

.linkBox {
  min-width: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80px;
  padding-left: 80px;
  border: solid black;
  background-color: #66ccff;
  box-shadow: 3.5px 3.5px #888888;

}

.blogBox {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 1px;
  margin-left: 1px;
  border: solid black;
}

body {
  height: 100%;
}

#horse {
  display: flex;
  justify-content: space-evenly;
}

#beeBox {
  flex-wrap: wrap;
  border: solid black;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-right: 1px;
  margin-left: 1px;
  border: solid black;
  text-align: center;
}
#about{
  text-align:center;
  border: solid black;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-right: 1px;
  margin-left: 1px;
}
